{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voting System!</h1>

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}
