<VirtualHost *:80>
	ServerName {{ item.name }}
	ServerAlias www.{{ item.name }}
    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^{{ item.name }} [OR]
    RewriteCond %{HTTP_HOST} ^www.{{ item.name }}
    RewriteRule ^/(.*)$ https://{{ item.name }}/$1 [L,R=301]
</VirtualHost>
<VirtualHost *:443>
	SSLEngine On
	ServerSignature On
	SSLCertificateFile    {{ssl_certs_folder}}{{ssl_certificate_file}}
    SSLCertificateKeyFile {{ssl_certs_folder}}{{ssl_certificate_key_file}}
    SSLCertificateChainFile {{ssl_certs_folder}}{{ssl_certificate_chain_file}}
	ServerName {{ item.name }}
	ServerAdmin {{ item.email|default('admin@localhost')}}
	DocumentRoot {{ item.root }}
	<Directory />
		Options -Indexes +FollowSymLinks
		AllowOverride All
	</Directory>
	<Directory {{ item.root }}>
		Options -Indexes +FollowSymLinks +MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>
	ErrorLog ${APACHE_LOG_DIR}/{{ item.name }}-error.log
	LogLevel error
	CustomLog ${APACHE_LOG_DIR}/{{ item.name }}-access.log combined
</VirtualHost>